@model WebRestaurante.ModelsViews.HomeView
@using System
<link href="~/Content/Imagenes.css" rel="stylesheet" />
@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid">
    <br /><br />
    @using (Html.BeginForm("SelectDia", "Home", new { }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">MESAS DISPONIBLES</div>
                    <div class="panel-body text-primary">
                        <ul class="list-group">
                            <li class="list-group-item" style="text-transform: uppercase">
                                @DateTime.Now.Date.ToString("dd/MM/yyyy")
                                @foreach (var item in Model.Dias)
                                {
                                    if (DateTime.Now.DayOfWeek.ToString() == item.NombreI_Dia)
                                    {
                                        @item.Nombre_Dia
                                    }
                                }
                                <span class="badge" style="background:blue">@ViewBag.CMesas</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">MENÚ DEL DIA</div>
                    <div class="panel-body">
                        <div class="btn-group-vertical" role="group" style="text-transform: uppercase; width:100%">
                            @foreach (var item in Model.Dias.ToList())
                            {
                                int i = 0;
                                foreach (var item1 in Model.CantidadD.Where(t => t.IdDia == item.Cod_Dia).ToList())
                                {
                                    i = item1.Cantidad;
                                }
                                string dia = DateTime.Now.DayOfWeek.ToString();
                                if (ViewBag.SeleDia != null)
                                {
                                    if (item.Cod_Dia == Convert.ToInt32(ViewBag.SeleDia))
                                    {
                                        <button class="btn btn-default" type="submit" name="id" style="text-transform: uppercase" value="@item.Cod_Dia">
                                            <p class="col-md-7 text-left text-primary">@item.Nombre_Dia</p><span class="badge col-md-5 text-right" style="background:blue">@i</span>
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-primary" type="submit" name="id" style="text-transform: uppercase" value="@item.Cod_Dia">
                                            <p class="col-md-7 text-left">@item.Nombre_Dia</p><span class="badge col-md-5 text-right">@i</span>
                                        </button>
                                    }
                                }
                                else
                                {
                                    if (item.NombreI_Dia == dia)
                                    {
                                        <button class="btn btn-default" type="submit" name="id" style="text-transform: uppercase" value="@item.Cod_Dia">
                                            <p class="col-md-7 text-left text-primary">@item.Nombre_Dia</p><span class="badge col-md-5 text-right" style="background:blue">@i</span>
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-primary" type="submit" name="id" style="text-transform: uppercase" value="@item.Cod_Dia">
                                            <p class="col-md-7 text-left ">@item.Nombre_Dia</p><span class="badge col-md-5 text-right">@i</span>
                                        </button>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            @foreach (var item in Model.Menus.ToList())
            {
                <div class="col-sm-12 col-md-3">
                    <div class="img-thumbnail" style="border:2px solid blue; border-radius:5px">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="bljaIMGte">
                                    @if (item.Imagen_Menu != null)
                                    {
                                        <img src="@Url.Action("ConvertirImagen","Menus", new {id = item.Cod_Menu})" class="img-rounded" alt="imagen Responsive" style="max-width: 100%;height: 200px;" />
                                    }
                                    else
                                    {
                                        <img src="~/Imagenes/Imagen plato 2.jpg" class="img-rounded" alt="imagen Responsive" style="max-width: 100%;height: auto;" />
                                    }
                                    <div class="bljaIMGtex">
                                        <span><strong>@Html.DisplayFor(m => item.Nombre_Menu)</strong></span>
                                    </div>
                                </div>
                            </div>
                            <div class="caption" style="height:300px">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 text-primary text-center" style="text-transform:uppercase">
                                            <strong>@Html.DisplayFor(m => item.Descripcion_Menu)</strong>
                                        </div>
                                    </div>                                   
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            @Html.ActionLink("Reservar", "Create", "MesasOcupadas", new { }, new { @class = "btn btn-success" })
                                        </div>
                                        <div class="col-md-8 text text-right">
                                            <strong><samp>@Html.DisplayFor(m => item.Valor_Menu)</samp></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

