@model WebRestaurante.Models.Restaurante
@{
    ViewBag.Title = "Configuracion del restaurante";
}
<div class="container-fluid" style="color:white">
    <div class="row">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
        <div title="@ViewBag.Title" class="col-sm-12 initialism bs-docs-header text-center" style="font-size:30px; max-width: 100%;height: auto; background-image:url(../../Imagenes/f3df92c17f5c1cc3209e60bc3831f3df.jpg); border-radius:4px;border:2px solid #808080;color:white">
            CONFIGURACIÓN DEL RESTAURANTE
        </div>
        <div class="col-sm-12">
            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Atencion!</strong> @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            }
        </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-horizontal">
                            <h4 style="color:white"><strong>DATOS PRINCIPALES</strong></h4>
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.NombreEmpresa, htmlAttributes: new { @class = "control-label", style = "", title = "Nombre del restaurante" })
                                </div>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.NombreEmpresa, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre del restaurante", title = "Nombre del restaurante" } })
                                    @Html.ValidationMessageFor(model => model.NombreEmpresa, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label", style = "" })
                                </div>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control", placeholder = "Telefono del restaurante" } })
                                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label", style = "" })
                                </div>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control", placeholder = "Dirección del restaurante" } })
                                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label", style = "" })
                                </div>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control", placeholder = "Correo del restaurante" } })
                                    @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.CorreoContra, htmlAttributes: new { @class = "control-label", style = "" })
                                </div>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.CorreoContra, new { htmlAttributes = new { @class = "form-control", placeholder = "Contraseña del restaurante" } })
                                    @Html.ValidationMessageFor(model => model.CorreoContra, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-horizontal">
                                    <h4 style="color:white"><strong>HORARIOS</strong></h4>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.HoraApertura, htmlAttributes: new { @class = "control-label", style = "" })
                                        </div>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.HoraApertura, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.HoraApertura, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.HoraCierre, htmlAttributes: new { @class = "control-label", style = "" })
                                        </div>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.HoraCierre, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.HoraCierre, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.TiempoEspera, htmlAttributes: new { @class = "control-label", style = "" })
                                        </div>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.TiempoEspera, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.TiempoEspera, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-horizontal">
                                    <h4 style="color:white"><strong>UBICACIÓN</strong></h4>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.Ubicacion, htmlAttributes: new { @class = "control-label", style = "" })
                                        </div>
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.Ubicacion, new { htmlAttributes = new { @class = "form-control", placeholder = "Url de ubicación" } })
                                            @Html.ValidationMessageFor(model => model.Ubicacion, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-horizontal">
                            <h4 style="color:white"><strong>QUIÉNES SOMOS</strong></h4>
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.MisionEmpresa, htmlAttributes: new { @class = "control-label", style = "" })
                                </div>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.MisionEmpresa, new { htmlAttributes = new { @class = "form-control", placeholder = "Misión del restaurante" } })
                                    @Html.ValidationMessageFor(model => model.MisionEmpresa, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.VisionEmpresa, htmlAttributes: new { @class = "control-label", style = "" })
                                </div>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.VisionEmpresa, new { htmlAttributes = new { @class = "form-control", placeholder = "Visión del restaurante" } })
                                    @Html.ValidationMessageFor(model => model.VisionEmpresa, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.ObjetivosEmpres, htmlAttributes: new { @class = "control-label", style = "" })
                                </div>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.ObjetivosEmpres, new { htmlAttributes = new { @class = "form-control", placeholder = "Objetivos del restaurante" } })
                                    @Html.ValidationMessageFor(model => model.ObjetivosEmpres, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Volver", "Index", "Home", new { }, new { @class = "btn btn-warning" })
                    <input type="submit" value="Guardar" class="btn btn-success" onclick="JavascriptFunction()" />
                </div>
            </div>
        }
    </div>
    <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
         top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
         opacity: .8; filter: alpha(opacity=70);display:none">
        <p style="position: absolute; top: 30%; left: 35%; color: White;">
            Guardando configuración, Por favor Espere.... <img src="~/Imagenes/loading_transp.gif">
        </p>
    </div>
</div>
<script type="text/javascript" language="javascript">
function JavascriptFunction() {
    var url = '@Url.Action("Create", "RestaurantesConf")';
    $("#divLoading").show();
    $.post(url, null,
            function (data) {
                $("#PID")[0].innerHTML = data;
                $("#divLoading").hide();
            });
}
</script>